h1 {
    color:#33033b; 
    font-family: 'Ubunto'; 
    font-size:99px;
} 
body {
    background-image: url("fon.webp");
  }
th {
    background-color: #23023d;
    color: rgb(255, 208, 249);
}
td {
    text-align: center;
}
table {
    width: 100%;
}