{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'login/css/login.css' %}">
    <title>Login</title>
</head>
<body>
     {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
     {% endif %}

     <section class='login' id='login'>
        <div class='head'>
            <h1 class='company'>Storage space</h1>
        </div>
        <p class='msg'>Welcome</p>
        <div class='form'>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Enter Username" name="username" class='text' id='username' required><br>
                <input type="password" placeholder="Enter Password" name="password" class='password' required><br>
                <button class='btn-login' id='do-login' type="submit">Login</button>
                <a href="{% url 'register' %}" class='signup'>Signup</a>
                <a href="#" class='forgot'>Forgot?</a>
            </form>
        </div>
    </section>


</body>
</html>
