{% extends 'main/layout.html' %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'main/css/all_notes.css' %}">{% endblock %}

{% block content %}
{% for note in notes %}
    <div class="folder-wrapper" data-popup="popup{{ forloop.counter }}">
        <div class="folder-info">
            <div class="icon-delete">
                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                <a href="{% url 'delete' note.id %}"><i class="fa-solid fa-xmark"></i></a>
            </div>
            <h3 class="folder-name">{{ note.heading }}</h3>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block popups %}
{% for note in notes %}
    <div id="popup{{ forloop.counter }}" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>{{ note.heading }}</h2>
            {% if note.file_type == "Link" %}
                <a href="{{ note.user_data }}" target="_blank"><p>{{ note.user_data }}</p></a>
            {% else %}
                <p>{{ note.user_data }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
<script src="{% static 'main/js/all_notes_popups.js' %}"></script>
{% endblock %}