{% extends 'main/layout.html' %}
{% load static %}

{% block content %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                    <th>Added</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.document.name | cut:'documents/' }}</td>
                        <td>{{ file.document.size | filesizeformat}}</td>
                        <td>{{ file.datetime }}</td>
{#                        <td><a href="{% url 'download' file_id=file.id %}"><i class="fa-solid fa-download"></i></a></td>#}
                        <td>M</td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
