{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <script src="https://kit.fontawesome.com/ee07bab358.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-section">
                <img class="logo" src="https://www.freepnglogos.com/uploads/server-png/server-icon-download-icons-17.png" alt="">
                <h3 class="app-name">server</h3>
            </div>
            <div class="search-bar">
                <input class="search-bar" type="text" placeholder="Search files...">
            </div>
            <div class="profile-logo">
                <img class="profile-pic" src="https://images.unsplash.com/photo-1628563694622-5a76957fd09c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&w=1000&q=80" alt="">
                <div class="user-info">
                    <span class="name">Nikita Filin</span>
                    <span class="email">nikita@gmail</span>
                </div>
            </div>
        </div>
    </header>

    <div class="left-menu-bar">
        <div class="left-menu-bar-icons">
            <div class="upper-icons">
                <div class="icon-wrapper"><i class="fa-solid fa-house fa-lg"></i><span>Dashboard</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-border-none fa-lg"></i><span>All files</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-file fa-lg"></i><span>Recent</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-heart fa-lg"></i><span>Favorites</span></div>
            </div>
           <div class="lower-icons">
                <div class="icon-wrapper"><i class="fa-solid fa-image fa-lg"></i><span>Pictures</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-folder fa-lg"></i><span>Files</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-link fa-lg"></i><span>Links</span></div>
                <div class="icon-wrapper"><i class="fa-solid fa-note-sticky fa-lg"></i><span>Notes</span></div>
           </div>
        </div>
        <div class="storage-use">
            <h3 class="used-space">23.25 GB used</h3>
            <h4>Here should be percentage</h4>
            <div>Here should be slider</div>
        </div>
    </div>


</body>
</html>