{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/file_upload.css' %}">
    <script src="https://kit.fontawesome.com/ee07bab358.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content">
        <header class="blur">
            <div class="header-container">
                <div class="logo-section">
                    <img class="logo" src="https://www.freepnglogos.com/uploads/server-png/server-icon-download-icons-17.png" alt="">
                    <h3 class="app-name">server</h3>
                </div>
                <div class="search-bar">
                    <input class="search-bar" type="text" placeholder="Search files...">
                </div>
                <div class="profile-logo">
                    {% if user.is_authenticated %}
                        <img class="profile-pic" src="https://images.unsplash.com/photo-1628563694622-5a76957fd09c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&w=1000&q=80" alt="">
                        <div class="user-info">
                            <span class="name">Nikita Filin</span>
                            <span class="email">nikita@gmail</span>

                        </div>
                        <div class="sidebar_toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="main-container blur">
            <aside id="sidebar"> {#class="left-menu-bar"#}
                <div class="sidebar_content sidebar_body" {#class="left-menu-bar-icons"#}>
                    <nav class="side_navlinks">
                        <div class="upper-icons">
                            <div class="icon-wrapper"><i class="fa-solid fa-house fa-lg"></i><span class="icon-heading">Dashboard</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-border-none fa-lg"></i><span class="icon-heading">All files</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-file fa-lg"></i><span class="icon-heading">Recent</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-heart fa-lg"></i><span class="icon-heading">Favorites</span></div>
                        </div>
                       <div class="lower-icons">
                            <div class="icon-wrapper"><i class="fa-solid fa-image fa-lg"></i><span class="icon-heading">Pictures</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-folder fa-lg"></i><span class="icon-heading">Files</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-link fa-lg"></i><span class="icon-heading">Links</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-note-sticky fa-lg"></i><span class="icon-heading">Notes</span></div>
                       </div>
                    </nav>
                </div>
            </aside>

            <div class="main-section">
{#                <div class="files-icons">#}
{#                    <div class="icon-wrapper-main"><i class="fa-solid fa-image fa-lg"><span class="upper">200 files</span></i></div>#}
{#                    <div class="icon-wrapper-main"><i class="fa-solid fa-folder fa-lg"><span class="upper">200 files</span></i></div>#}
{#                    <div class="icon-wrapper-main"><i class="fa-solid fa-link fa-lg"><span class="upper">200 files</span></i></div>#}
{#                    <div class="icon-wrapper-main"><i class="fa-solid fa-note-sticky fa-lg"><span class="upper">200 files</span></i></div>#}
{#                </div>#}
                <div class="folders">
                    <h3>Folders</h3>
                    <div class="folders-block">
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>
                        <div class="folder-wrapper">
                            <div class="folder-info">
                                <i class="fa-solid fa-folder-closed fa-2x folder-icon"></i>
                                <h3 class="folder-name">Theme</h3>
                                <span class="file-amount">File amount</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="files-section">
                    <h3>Files</h3>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Size</th>
                                    <th>Added</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>file1</td>
                                    <td>23 GB</td>
                                    <td>12.12.2022</td>
                                <tr>
                                    <td>file2</td>
                                    <td>23 GB</td>
                                    <td>12.12.2022</td>
                                </tr>
                                <tr>
                                    <td>file3</td>
                                    <td>23 GB</td>
                                    <td>12.12.2022</td>
                                </tr>
                                <tr>
                                    <td>file4</td>
                                    <td>23 GB</td>
                                    <td>12.12.2022</td>
                                </tr>
                                <tr>
                                    <td>file5</td>
                                    <td>23 GB</td>
                                    <td>12.12.2022</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="storage-section">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating">
                        <select onchange="a()" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option value="Photo">Photo</option>
                            <option value="Document">Document</option>
                            <option value="Link">Link</option>
                            <option value="Note">Note</option>
                        </select>
                        <label for="floatingSelect">Select file type</label>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-lg">Subbmit</button>
                </form>
                <button id="myBtn" class="open-popup">test</button>
{#                <form action="" method="post" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}

{#                    <div class="mb-3">#}
{#                        <input name="document" class="form-control" type="file" id="formFile id_document">#}
{#                    </div>#}
{#                    <div class="form-floating">#}
{#                        <select name="file_type" class="form-select" id="floatingSelect id_file_type" aria-label="Floating label select example">#}
{#                            <option value="p">Photo</option>#}
{#                            <option value="f">Document</option>#}
{#                            <option value="l">Link</option>#}
{#                        </select>#}
{#                        <label for="floatingSelect">Select file type</label>#}
{##}
{#                    </div>#}
{##}
{##}
{#                    <button type="submit" class="btn btn-secondary btn-lg">Large button</button>#}
{#                </form>#}
            </div>
        </div>
    </div>
    {% include 'main/file_upload.html' %}
    <script src="{% static 'main/js/sidebar.js' %}"></script>
    <script src="{% static 'main/js/test.js' %}"></script>
    <script src="{% static 'main/js/popup.js' %}"></script>

</body>
</html>

