{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/file_upload.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/note_upload.css' %}">
    <script src="https://kit.fontawesome.com/ee07bab358.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>

    <div class="content">
        <header class="blur">
            <div class="header-container">
                <div class="logo-section">
{#                    <img class="logo" src="https://www.freepnglogos.com/uploads/server-png/server-icon-download-icons-17.png" alt="">#}
                    <h3 class="app-name">server</h3>
                </div>
                <div class="search-bar">
                    <input class="search-bar" type="text" placeholder="Search files...">
                </div>
                <div class="profile-logo">
                    {% if user.is_authenticated %}
                        <img class="profile-pic" src="https://images.unsplash.com/photo-1628563694622-5a76957fd09c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&w=1000&q=80" alt="">
                        <div class="user-info">
                            <span class="name">{{ user.first_name }} {{ user.last_name }}</span>
                            <span class="email">{{ user.email }}</span>

                        </div>
                        <div class="sidebar_toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <div class="main-container blur">
            <aside id="sidebar"> {#class="left-menu-bar"#}
                <div class="sidebar_content sidebar_body" {#class="left-menu-bar-icons"#}>
                    <nav class="side_navlinks">
                        <div class="upper-icons">
                            <a href="{% url 'home' %}"><div class="icon-wrapper"><i class="fa-solid fa-house fa-lg"></i><span class="icon-heading">Dashboard</span></div></a>
                            <a href="{% url 'all' %}"><div class="icon-wrapper"><i class="fa-solid fa-border-none fa-lg"></i><span class="icon-heading">All files</span></div></a>
                            <div class="icon-wrapper"><i class="fa-solid fa-file fa-lg"></i><span class="icon-heading">Recent</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-heart fa-lg"></i><span class="icon-heading">Favorites</span></div>
                        </div>
                       <div class="lower-icons">
                            <div class="icon-wrapper"><i class="fa-solid fa-image fa-lg"></i><span class="icon-heading">Pictures</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-folder fa-lg"></i><span class="icon-heading">Files</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-link fa-lg"></i><span class="icon-heading">Links</span></div>
                            <div class="icon-wrapper"><i class="fa-solid fa-note-sticky fa-lg"></i><span class="icon-heading">Notes</span></div>
                       </div>
                    </nav>
                </div>
            </aside>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'main/file_upload.html' %}
    {% include 'main/note_upload.html' %}
    <script src="{% static 'main/js/sidebar.js' %}"></script>
    <script src="{% static 'main/js/test.js' %}"></script>
    <script src="{% static 'main/js/popup.js' %}"></script>

</body>
</html>

