*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.content{
    max-width: 1800px;
    margin: 0 auto;

    /*padding: 3%;*/
}


.main-container{
    display: flex;
}

.header-container {
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F6F6F6;
}

.sidebar_toggler{
    display: none;
}

.logo{
    width: 40px;
    height: 40px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 2px 2px 2px 2px;
}

.logo-section{
    height: 30px;
    max-width: 20%;
    display: flex;
    align-items: center;
}

.app-name{
    margin-left: 19px;
    font-weight: bold;
    font-size: 19px;
    text-transform: uppercase;
}

.search-bar{
    height: 64px;
    width: 55%;
    /*margin-right: 50px;*/
    border: 1px solid #F0F0F0;
    border-radius: 10px;
}

.search-bar input{
    width: 100%;
}

.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.profile-logo{
    max-width: 20%;
    display: flex;
    align-items: center;

}

.user-info{
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

.email{
    font-size: 12px;
}

.name{
    font-weight: bold;
}

#sidebar{
    width: 15%;
    height: 789px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #F6F6F6;
}

.sidebar_content, .sidebar_body{
    height: 571px;
    max-width: 220px;

}

.icon-wrapper{
    display: flex;
    margin: 20px 0 20px 0;
    flex-direction: column;
    align-items: center;
}

.icon-wrapper i{
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    background-color: #ECEFF7;
    color: #51459E;
}

.upper-icons{
    justify-content: space-between;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

.lower-icons{
    justify-content: space-between;
    margin-top: 110px;
    display: flex;
    width: 85%;
    flex-wrap: wrap;
}

.main-section{
    border-right: 1px solid #F6F6F6;
    margin-left: 20px;
    width: 65%;
    /*padding-right: 20px;*/
}

.files-icons{
    height: 80px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.icon-wrapper-main i{
    border-radius: 10px;
    padding: 20px 35px 20px 35px;
    background-color: #ECEFF7;
    color: #51459E;
    display: flex;
    align-items: center;
}

.icon-wrapper-main{
     margin: 20px 0 20px 0;
}

.icon-wrapper-main i{
    opacity: 0.5;
    color: black;
}

.icon-heading{
    color: black;
    font-size: 10px;
    margin-left: 5px;
}

.folders{
    margin-top: 40px;
    height: auto;
}

.folders-block{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;

}

.folder-wrapper{
    width: 138px;
    height: 138px;
    background-color: #ECEFF7;
    border-radius: 25px;
}

.folder-info{

    margin-top: 10px;
    margin-left: 20px;
}

.folder-name{
    margin-top: 30px;
    font-size: 14px;
}

.file-amount{
    font-size: 12px;
}

.upper{
    width: 100%;
    font-size: 10px;
    margin-left: 10px;
}

.storage-section{
    width: 20%;
    background-color: aqua;
    margin-left: 10px;
}

.form-floating{
    max-width: 150px;
}

.folder-wrapper i{
    opacity: .5;
}

.table-container {
    /*background: linear-gradient(45deg, #49a09d, #5f2c82);*/
    width: 100%;
    margin-bottom: 50px;

}
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
th,
td {
  padding: 15px;
  background-color: white;
  color: black;

}
th {
  text-align: left;
}
thead {
  /*background-color: #55608f;*/
    border-bottom: 1px solid #F6F6F6;
}

tbody td {
  position: relative;
}

tr{
    display: flex;
    justify-content: space-between;
}
/*tbody td:hover:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: -9999px;*/
/*  bottom: -9999px;*/
/*  background-color: rgba(255, 255, 255, 0.2);*/
/*  z-index: -1;*/
/*}*/


@media (max-width: 767px){
    .logo-section{
        display: none;
    }
    .folders-block{
        justify-content: space-between;
        margin-left: 16px;
        margin-right: 16px;
        gap: 30px;
    }
    .main-container{
        flex-direction: column;
    }

    .folder-wrapper{
        max-width: 50%;
        max-height: 50%;
    }

    .main-section{
        width: 100%;
        margin-left: 0px;
    }
    .user-info{
        display: none;
    }
    #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: #F6F6F6;
    box-shadow: 0 10px 20px -4px #000;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.3s ease, visibility 0.2s ease, transform 0.3s ease;
}

/* when the sidebar has 'show' class */
    #sidebar.show {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .sidebar_content {
        padding: 2.8rem 0;
        pointer-events: none;
        /* so that the Sidebar does not get closed while clicking on sidebar_content */
    }

    .sidebar_content a {
        pointer-events: all;
        /* so that all the <a> inside sidebar_content are clickable */
    }

    .sidebar_body {
        border-top: 1px dashed var(--text-color);
        border-bottom: 1px dashed var(--text-color);
    }

    .side_navlinks ul {
        display: grid;
        gap: 2rem;
    }

    .side_navlinks li a {
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.8;
    }

    .side_navlinks a:hover {
        opacity: 1;
    }

    /*---- Sidebar-Toggler ----*/
    .sidebar_toggler {
        position: relative;
        /*top: 4vh;*/
        /*right: 3vw;*/
        width: 1.75rem;
        height: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;
    }

    .sidebar_toggler span {
        background-color: #ddd;
        width: 100%;
        height: 2.4px;
        transition: all 0.3s ease;
        pointer-events: none;
        /* so that it doesn't overlap the sidebar_toggler */
    }

    /* if the sidebar has 'show' class then their adjacent-sibling (i.e., sidebar_toggler) will... */
    /*#sidebar.show + .sidebar_toggler {*/
    /*    justify-content: center;*/
    /*}*/

    /*#sidebar.show + .sidebar_toggler span {*/
    /*    margin-top: -1.2px;*/
    /*    margin-bottom: -1.2px;*/
    /*}*/

    #sidebar.show + .sidebar_toggler span:first-child {
        transform: rotate(45deg);
    }

    #sidebar.show + .sidebar_toggler span:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
    }

    #sidebar.show + .sidebar_toggler span:last-child {
        transform: rotate(-45deg);
    }

}
